body{
	margin: 0;
	font-family: 'Courgette', cursive;
	line-height: 1.7;
}
#beginner{
	background: linear-gradient(180deg , #000000a6 , #000000a6 ,#000000a6 ) , url(../img/bg5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}
#beginner > div{
	padding: 20px 200px;
	padding-top: 255px;
	padding-bottom: 70px;
}
.down{
	border: 1px solid white;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	margin-top: 180px;
	margin-left: 450px;
}
@keyframes down{
	0%{top: 0px;}
	100%{top: 20px;}
}
.down{
	animation-name: down;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	position: relative;
}
.animate{
	display: flex;
	align-items: center;
}
.up{
	border: 1px solid dodgerblue;
	color: white;
	background: dodgerblue;
	box-shadow: 2px 2px 2px 2px #808080d9;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	top: 600px;
	left: 1000px;
	transition: 5s;
}
#fk{
	margin: 10px;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 3px 3px #808080b0;
	transition: 2s;
	border: 1px solid grey;
}
#fk:hover{
	transform: scale3d(0.8 , 0.8 , 0.8);
	box-shadow: none;
	transition: 2s;
}
#fk > img{
	width: 100px;
}
#infor{
	text-align: center;
	margin: 0 200px;
}